html,
body {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Nunito Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', sans-serif;

}

a {
	padding: 3px;
}

a:link {
	text-decoration: none;
	color: #4CB2F3;
}

a:focus {
	text-decoration: none;
	background-color: #EDEDED;
	color: #B847E7;
}

a:hover {
	text-decoration: none;
	background-color: #EDEDED;
	color: #B847E7;
}

a:active {
	text-decoration: none;
	background-color: #B847E7;
	color: #FFFFFF;
}

a:visited {
	text-decoration: none;
	color: #4CB2F3;
}

li:hover.menu {
	background-color: #8FBC8F
}

form {
	display: inline;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 6px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16pt;
	width: 24%;
	cursor: pointer;
}

.status {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 6px 6px;
	text-align: center;
	text-decoration: none;
	font-size: 16pt;
}

.main {
	max-width: 800px;
	margin: 6px;
	padding: 6px;
}

.pointer {
    cursor: pointer;
}

.center {
	margin: 0 auto;
	padding: 0 auto;
}

.linksbuendig {
	text-align: left;
}

.rechtsbuendig {
	text-align: right;
}

.zentriert {
	text-align: center;
}

.blocksatz {
	text-align: justify;
}

/* TABLE */
table, th , td {
	border: 1px solid grey;
	border-collapse: collapse;
	padding: 5px;
}

th {
	background-color: md-accent;
}

table tr:nth-child(odd) {
	background-color: md-accent;
}

table tr:nth-child(even) {
	background-color: #ffffff;
}

